@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f8f9fa;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
